<!DOCTYPE html>
<html lang="en" class="no-js">
	<!-- Head -->
	<head>
		<title>Shopall Admin Upload</title>

		<!-- Meta -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<!-- Favicon -->
		<link rel="shortcut icon" href="../../assets/logo.png">

		<!--  Social tags -->
    <meta name="keywords" content="Trending Dash">
    <meta name="description" content="Trending Dashboard UI Kit crafted by Trending.">
    <meta name="author" content="traending.com">

    <!-- Schema.org -->
    <meta itemprop="name" content="Trending Dashboard UI Kit">
    <meta itemprop="description" content="Trending Dashboard UI Kit crafted by Trending.">
    <meta itemprop="image" content="assets/img/sduik-preview.png">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@trending">
    <meta name="twitter:title" content="Trending Dashboard UI Kit">
    <meta name="twitter:description" content="Trending Dashboard UI Kit crafted by Trending.">
    <meta name="twitter:creator" content="@trending">
    <meta name="twitter:image" content="assets/img/sduik-preview.png">

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Trending">
    <meta property="og:title" content="Trending Dashboard UI Kit">
    <meta property="og:description" content="Trending Dashboard UI Kit crafted by Trending.">
    <meta property="og:url" content="https://trendingzw.com/">
    <meta property="og:locale" content="en_US">
    <meta property="og:image" content="assets/img/sduik-preview.png">
    <meta property="og:image:secure_url" content="assets/img/sduik-preview.png">

    <!-- Web Fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

		<!-- Components Vendor Styles -->
	  <link rel="stylesheet" href="../../assets/assets/vendor/font-awesome/css/all.min.css">
		<link rel="stylesheet" href="../../assets/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">

		<!-- Theme Styles -->
		<link rel="stylesheet" href="../../assets/assets/css/theme.css">

		<!-- Custom Charts -->
		<style>
			.js-doughnut-chart {
				width: 70px !important;
				height: 70px !important;
			}
		</style>
	</head>
	<!-- End Head -->

	<body>
		<!-- Header (Topbar) -->
		<header class="u-header">
			<div class="u-header-left">
				<a class="u-header-logo" href="/">
					<img class="u-logo-desktop" src="../../assets/logo.png" width="50" alt="Shopall Dashboard">
					<img class="img-fluid u-logo-mobile" src="../../assets/logo.png" width="50" alt="Shopall Dashboard">
				</a>
			</div>

			<div class="u-header-middle">
				<a class="js-sidebar-invoker u-sidebar-invoker" href="#!"
				   data-is-close-all-except-this="true"
				   data-target="#sidebar">
					<i class="fa fa-bars u-sidebar-invoker__icon--open"></i>
					<i class="fa fa-times u-sidebar-invoker__icon--close"></i>
				</a>

			</div>

			<div class="u-header-right">
		  	<!-- User Profile -->
				<div class="dropdown ml-2">
				  <a class="link-muted d-flex align-items-center" href="#!" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
				    <img class="u-avatar--xs img-fluid rounded-circle mr-2" src="../../assets/logo.png" alt="Admin Profile">
						<span class="text-dark d-none d-sm-inline-block">
							Admin <small class="fa fa-angle-down text-muted ml-1"></small>
						</span>
				  </a>

				  <div class="dropdown-menu dropdown-menu-right border-0 py-0 mt-3" aria-labelledby="dropdownMenuLink" style="width: 260px;">
				  	<div class="card">
							<div class="card-body">
								<ul class="list-unstyled mb-0">
									<li>
										<a class="d-flex align-items-center link-dark" href="/user/logout">
											<span class="h3 mb-0"><i class="far fa-share-square text-muted mr-3"></i></span> Sign Out
										</a>
									</li>
								</ul>
							</div>
				  	</div>
				  </div>
				</div>
		  	<!-- End User Profile -->
			</div>
		</header>
		<!-- End Header (Topbar) -->

		<main class="u-main" role="main">
			<!-- Sidebar -->
			<aside id="sidebar" class="u-sidebar">
				<div class="u-sidebar-inner">
					<header class="u-sidebar-header">
						<a class="u-sidebar-logo" href="/">
							<img class="img-fluid" src="../../assets/logo.png" width="40" alt="Shopall Dashboard">
						</a>
					</header>

					<nav class="u-sidebar-nav">
						<ul class="u-sidebar-nav-menu u-sidebar-nav-menu--top-level">
							<!-- Dashboard -->
							<li class="u-sidebar-nav-menu__item">
								<a class="u-sidebar-nav-menu__link" href="/shopall/control/admin-dashboard">
									<i class="fa fa-cubes u-sidebar-nav-menu__item-icon"></i>
									<span class="u-sidebar-nav-menu__item-title">Shopall Users</span>
								</a>
							</li>

							<li class="u-sidebar-nav-menu__item">
								<a class="u-sidebar-nav-menu__link" href="/shopall/control/admin-shops">
									<i class="fa fa-cubes u-sidebar-nav-menu__item-icon"></i>
									<span class="u-sidebar-nav-menu__item-title">Shopall Shops</span>
								</a>
							</li>

							<!--Upload Rooutes-->
							<li class="u-sidebar-nav-menu__item">
								<a class="u-sidebar-nav-menu__link" href="/shopall/control/upload-product">
									<i class="fa fa-cubes u-sidebar-nav-menu__item-icon"></i>
									<span class="u-sidebar-nav-menu__item-title">Shopall Upload</span>
								</a>
							</li>

							<li class="u-sidebar-nav-menu__item">
								<a class="u-sidebar-nav-menu__link" href="/shopall/control/upload-deal">
									<i class="fa fa-cubes u-sidebar-nav-menu__item-icon"></i>
									<span class="u-sidebar-nav-menu__item-title">Top Deals Upload</span>
								</a>
							</li>

							<li class="u-sidebar-nav-menu__item">
								<a class="u-sidebar-nav-menu__link" href="/shopall/control/upload-blog">
									<i class="fa fa-cubes u-sidebar-nav-menu__item-icon"></i>
									<span class="u-sidebar-nav-menu__item-title">Blog Upload</span>
								</a>
							</li>

							<li class="u-sidebar-nav-menu__item">
								<a class="u-sidebar-nav-menu__link" href="/shopall/control/upload-service">
									<i class="fa fa-cubes u-sidebar-nav-menu__item-icon"></i>
									<span class="u-sidebar-nav-menu__item-title">Services Upload</span>
								</a>
							</li>

							<li class="u-sidebar-nav-menu__item">
								<a class="u-sidebar-nav-menu__link" href="/shopall/control/upload-career">
									<i class="fa fa-cubes u-sidebar-nav-menu__item-icon"></i>
									<span class="u-sidebar-nav-menu__item-title">Careers Upload</span>
								</a>
							</li>

							<li class="u-sidebar-nav-menu__item">
								<a class="u-sidebar-nav-menu__link active" href="/shopall/control/upload-socials">
									<i class="fa fa-cubes u-sidebar-nav-menu__item-icon"></i>
									<span class="u-sidebar-nav-menu__item-title">Shopall Socials Upload</span>
								</a>
							</li>

							<li class="u-sidebar-nav-menu__item">
								<a class="u-sidebar-nav-menu__link" href="/shopall/control/upload-about">
									<i class="fa fa-cubes u-sidebar-nav-menu__item-icon"></i>
									<span class="u-sidebar-nav-menu__item-title">Shopall About Upload</span>
								</a>
							</li>

							<li class="u-sidebar-nav-menu__item">
								<a class="u-sidebar-nav-menu__link" href="/shopall/control/upload-team">
									<i class="fa fa-cubes u-sidebar-nav-menu__item-icon"></i>
									<span class="u-sidebar-nav-menu__item-title">Shopall Team Upload</span>
								</a>
							</li>
							<!--End Routes-->

							<li class="u-sidebar-nav-menu__item">
								<a class="u-sidebar-nav-menu__link" href="/shopall/control/admin-team">
									<i class="fa fa-cubes u-sidebar-nav-menu__item-icon"></i>
									<span class="u-sidebar-nav-menu__item-title">Shopall Team</span>
								</a>
							</li>

							<li class="u-sidebar-nav-menu__item">
								<a class="u-sidebar-nav-menu__link" href="/shopall/control/admin-products">
									<i class="fa fa-cubes u-sidebar-nav-menu__item-icon"></i>
									<span class="u-sidebar-nav-menu__item-title">Shopall Products</span>
								</a>
							</li>

							<li class="u-sidebar-nav-menu__item">
								<a class="u-sidebar-nav-menu__link" href="/shopall/control/admin-top_deals">
									<i class="fa fa-cubes u-sidebar-nav-menu__item-icon"></i>
									<span class="u-sidebar-nav-menu__item-title">Shopall Top Deals</span>
								</a>
							</li>

							<li class="u-sidebar-nav-menu__item">
								<a class="u-sidebar-nav-menu__link" href="/shopall/control/admin-blogs">
									<i class="fa fa-cubes u-sidebar-nav-menu__item-icon"></i>
									<span class="u-sidebar-nav-menu__item-title">Shopall Blogs</span>
								</a>
							</li>

							<li class="u-sidebar-nav-menu__item">
								<a class="u-sidebar-nav-menu__link" href="/shopall/control/admin-services">
									<i class="fa fa-cubes u-sidebar-nav-menu__item-icon"></i>
									<span class="u-sidebar-nav-menu__item-title">Shopall Services</span>
								</a>
							</li>

							<li class="u-sidebar-nav-menu__item">
								<a class="u-sidebar-nav-menu__link" href="/shopall/control/admin-careers">
									<i class="fa fa-cubes u-sidebar-nav-menu__item-icon"></i>
									<span class="u-sidebar-nav-menu__item-title">Shopall Careers</span>
								</a>
							</li>

							<li class="u-sidebar-nav-menu__item">
								<a class="u-sidebar-nav-menu__link" href="/shopall/control/admin-customer_care">
									<i class="fa fa-cubes u-sidebar-nav-menu__item-icon"></i>
									<span class="u-sidebar-nav-menu__item-title">Customer Care</span>
								</a>
							</li>

							<li class="u-sidebar-nav-menu__item">
								<a class="u-sidebar-nav-menu__link" href="/shopall/control/admin-subscribers">
									<i class="fa fa-cubes u-sidebar-nav-menu__item-icon"></i>
									<span class="u-sidebar-nav-menu__item-title">Shopall Subscribers</span>
								</a>
							</li>

						</ul>
					</nav>
				</div>
			</aside>
			<!-- End Sidebar -->

      <div class="u-content">
				<div class="u-body">
					<!-- End Breadcrumb -->
					<div class="mb-4">
						<nav aria-label="breadcrumb">
							<h1 class="h3">Edit Socials</h1>
						</nav>
					</div>
					<!-- End Breadcrumb -->
          {{# if profile.is_admin}}
					<form method="POST" {{# if social}} action="/shopall/control/update-socials" {{else}} action="/shopall/control/upload-socials"{{/if}}>

						<!-- Form Controls -->
						<div class="row">
							<div class="col-md-8 mb-4">
	              <div class="card">
	                <header class="card-header">
	                  <h2 class="h3 card-header-title">Shopall Details</h2>
	                </header>

									<div class="card-body">

										<div class="form-group mb-4">
											<label for="facebook">Facebook Handle</label>
											<input id="facebook" class="form-control" name="facebook" type="text" value="{{social.facebook}}">
										</div>

										<div class="form-group mb-4">
											<label for="instagram">Instagram Handle</label>
											<input id="instagram" class="form-control" name="instagram" type="text" value="{{social.instagram}}">
										</div>

										<div class="form-group mb-4">
											<label for="twitter">Twitter Handle</label>
											<input id="twitter" class="form-control" name="twitter" type="text" value="{{social.twitter}}">
										</div>

										<div class="form-group mb-4">
											<label for="linkedin">Linkedin Handle</label>
											<input id="linkedin" class="form-control" name="linkedin" type="text" value="{{social.linkedin}}">
										</div>

										<div class="form-group mb-4">
											<label for="youtube">Youtube Channel</label>
											<input id="youtube" class="form-control" name="youtube" type="text" value="{{social.youtube}}">
										</div>

										<div class="form-group mb-4">
											<label for="email">Email Address</label>
											<input id="email" class="form-control" name="email" type="text" value="{{social.email}}">
										</div>

										<div class="form-group mb-4">
											<label for="hq">Physical Address</label>
											<input id="hq" class="form-control" name="hq" type="text" value="{{social.hq}}">
										</div>

										<div class="form-group mb-4">
											<label for="map">Map Iframe</label>
											<input id="map" class="form-control" name="map" type="text" value="{{social.map}}">
										</div>

										<div class="form-group mb-4">
											<label for="cells">Phone Numbers</label>
											<input id="cells" class="form-control" name="cells" type="text" value="{{social.cells}}">
										</div>

										<div class="form-group mb-4">
											<button type="submit" class="btn btn-primary" name="upload">Make Changes</button>
										</div>

									</div>
	              </div>
							</div>
						</div>
						<!-- End Form Controls -->

					</form>
          {{else}}
					<h3 class="text-center">You are not an Admin</h3>
					{{/if}}
				</div>

				<!-- Footer -->
				<footer class="u-footer d-md-flex align-items-md-center text-center text-md-left text-muted">
					<small class="text-muted ml-auto">
						<a class="text-muted text-uppercase" href="https://trendingzw.com/">Developer - Trending Companies</a>
					</small>
				</footer>
				<!-- End Footer -->
			</div>
		</main>

		<!-- Global Vendor -->
		<script src="../../assets/assets/vendor/jquery/dist/jquery.min.js"></script>
		<script src="../../assets/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
		<script src="../../assets/assets/vendor/popper.js/dist/umd/popper.min.js"></script>
		<script src="../../assets/assets/vendor/bootstrap/bootstrap.min.js"></script>

		<!-- Plugins -->
		<script src="../../assets/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>

		<!-- Initialization  -->
		<script src="../../assets/assets/js/sidebar-nav.js"></script>
		<script src="../../assets/assets/js/main.js"></script>
	</body>
</html>
